<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="log.path" source="logging.file.path"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p: %d{yyyy-MM-dd HH:mm:ss} [traceId=%X{traceId}] [uri=%X{uri}] [method=%X{method}] [%c] [%X{user}] %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${appName}/spring-error.log</file>
        <append>true</append>
        <encoder>
            <pattern>%5p: %d{yyyy-MM-dd HH:mm:ss.SSS} [pfinderId=%X{PFTID}] [traceId=%X{traceId}] [uri=%X{uri}]
                [method=%X{method}] [%t] [%c] [%X{user}] %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志的切分方式:把每一天的日志归档到一个文件中-->
            <fileNamePattern>${log.path}/${appName}/spring-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--单个文件最大容量-->
            <maxFileSize>100MB</maxFileSize>
            <!--只保留最近多少天的日志-->
            <maxHistory>10</maxHistory>
            <!--所有日志文件最大不能超过1GB-->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${appName}/spring-info.log</file>
        <append>true</append>
        <encoder>
            <pattern>%5p: %d{yyyy-MM-dd HH:mm:ss.SSS} [pfinderId=%X{PFTID}] [traceId=%X{traceId}] [uri=%X{uri}]
                [method=%X{method}] [%t] [%c] [%X{user}] %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志的切分方式:把每个小时的日志归档到一个文件中-->
            <fileNamePattern>${log.path}/${appName}/spring-info.%d{yyyy-MM-dd-HH}.%i.log</fileNamePattern>
            <!--单个文件最大容量-->
            <maxFileSize>1GB</maxFileSize>
            <!--只保留最近多少小时的日志-->
            <maxHistory>240</maxHistory>
            <!--所有日志文件最大不能超过4GB-->
            <totalSizeCap>4GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC-ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="ERROR"/>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC-INFO" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="INFO"/>
    </appender>

    <!--本地模式，只将日志打入console控制台-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC-ERROR"/>
        <appender-ref ref="ASYNC-INFO"/>
    </root>
</configuration>
