<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:flowable="http://flowable.org/bpmn" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" xmlns:omgdc="http://www.omg.org/spec/DD/20100524/DC" xmlns:omgdi="http://www.omg.org/spec/DD/20100524/DI" typeLanguage="http://www.w3.org/2001/XMLSchema" expressionLanguage="http://www.w3.org/1999/XPath" targetNamespace="http://www.flowable.org/processdef" exporter="Flowable Open Source Modeler" exporterVersion="6.8.0">
  <process id="spring_he_tong" name="合同签署流程" isExecutable="true">
    <documentation>2023合同签署流程</documentation>
    <extensionElements>
      <!-- 设置流程的业务版本 -->
      <flowable:executionListener event="start" expression="${execution.setVariable('_process_version', 'v1.0')}"/>
    </extensionElements>
    <startEvent id="startEvent1" flowable:formFieldValidation="true"/>
    <!--
    会签流程模式：
      会签流程的特点
        1、多人必须全部完成任务才能继续流程，${nrOfInstances == nrOfCompletedInstances}
        2、可设置驳回机制，任一人拒绝即可终止流程，(产生多个任务，流程变量审核集合添加审核结果，判断条件改为：${nrOfInstances == nrOfCompletedInstances || (nrOfCompletedInstances > 0 && auditList.contains(false))}。)
        3、可配置顺序执行或并行执行，isSequential="false" 表示并行执行
    -->
    <userTask id="createBill" name="发起合同审批" flowable:assignee="${dagongzai}">
      <extensionElements>
        <flowable:taskListener event="create" delegateExpression="${my03TaskListener}"/>
        <!-- 事务中，执行的任务监听器 -->
        <flowable:taskListener event="create" delegateExpression="${my03TransactionCommittedTaskListener}" onTransaction="committed"/>
        <!-- 事务提交后，执行的任务监听器 -->
        <flowable:taskListener event="create" delegateExpression="${my03TransactionRolledBackTaskListener}" onTransaction="rolled-back"/>
        <!-- 事务回滚后，执行的任务监听器 -->
      </extensionElements>
      <multiInstanceLoopCharacteristics isSequential="false" flowable:collection="${dagongzaiList}" flowable:elementVariable="dagongzai">
        <completionCondition><![CDATA[${nrOfInstances == nrOfCompletedInstances}]]></completionCondition>
      </multiInstanceLoopCharacteristics>
    </userTask>

    <sequenceFlow id="sid-409F929D-E529-4C99-8735-95803943879E" sourceRef="startEvent1" targetRef="createBill"/>
    <sequenceFlow id="sid-602A825A-4BC8-4F15-8D17-C3EFB7CDE175" sourceRef="createBill" targetRef="zjlCheck"/>
    <userTask id="zjlCheck" name="总经理审批" flowable:assignee="${zongjingli}" flowable:formKey="jingli_form" flowable:formFieldValidation="true">
      <extensionElements>
        <modeler:initiator-can-complete xmlns:modeler="http://flowable.org/modeler"><![CDATA[false]]></modeler:initiator-can-complete>
      </extensionElements>
    </userTask>
    <endEvent id="sid-C622D7C7-63A7-4F27-96EB-1C9D44FEFDBD"/>
    <sequenceFlow id="sid-FB8245EB-BDA6-493A-A462-CA9A35AA640F" sourceRef="zjlCheck" targetRef="sid-C622D7C7-63A7-4F27-96EB-1C9D44FEFDBD"/>
  </process>
  <bpmndi:BPMNDiagram id="BPMNDiagram_a2023_ask_for_leave">
    <bpmndi:BPMNPlane bpmnElement="a2023_ask_for_leave_form" id="BPMNPlane_a2023_ask_for_leave">
      <bpmndi:BPMNShape bpmnElement="startEvent1" id="BPMNShape_startEvent1">
        <omgdc:Bounds height="30.0" width="30.0" x="90.0" y="150.0"/>
      </bpmndi:BPMNShape>
      <bpmndi:BPMNShape bpmnElement="createBill" id="BPMNShape_createBill">
        <omgdc:Bounds height="80.0" width="100.0" x="165.0" y="125.000015"/>
      </bpmndi:BPMNShape>
      <bpmndi:BPMNShape bpmnElement="zjlCheck" id="BPMNShape_zjlCheck">
        <omgdc:Bounds height="80.0" width="100.0" x="315.0" y="125.00006"/>
      </bpmndi:BPMNShape>
      <bpmndi:BPMNShape bpmnElement="sid-C622D7C7-63A7-4F27-96EB-1C9D44FEFDBD" id="BPMNShape_sid-C622D7C7-63A7-4F27-96EB-1C9D44FEFDBD">
        <omgdc:Bounds height="28.0" width="28.0" x="465.0" y="151.00005"/>
      </bpmndi:BPMNShape>
      <bpmndi:BPMNEdge bpmnElement="sid-409F929D-E529-4C99-8735-95803943879E" id="BPMNEdge_sid-409F929D-E529-4C99-8735-95803943879E" flowable:sourceDockerX="15.0" flowable:sourceDockerY="15.0" flowable:targetDockerX="50.0" flowable:targetDockerY="40.0">
        <omgdi:waypoint x="119.94999848995758" y="165.0"/>
        <omgdi:waypoint x="165.0" y="165.00002"/>
      </bpmndi:BPMNEdge>
      <bpmndi:BPMNEdge bpmnElement="sid-FB8245EB-BDA6-493A-A462-CA9A35AA640F" id="BPMNEdge_sid-FB8245EB-BDA6-493A-A462-CA9A35AA640F" flowable:sourceDockerX="50.0" flowable:sourceDockerY="40.0" flowable:targetDockerX="14.0" flowable:targetDockerY="14.0">
        <omgdi:waypoint x="414.95" y="165.00006"/>
        <omgdi:waypoint x="465.0" y="165.00005"/>
      </bpmndi:BPMNEdge>
      <bpmndi:BPMNEdge bpmnElement="sid-602A825A-4BC8-4F15-8D17-C3EFB7CDE175" id="BPMNEdge_sid-602A825A-4BC8-4F15-8D17-C3EFB7CDE175" flowable:sourceDockerX="50.0" flowable:sourceDockerY="40.0" flowable:targetDockerX="20.0" flowable:targetDockerY="20.0">
        <omgdi:waypoint x="264.95" y="163.49399"/>
        <omgdi:waypoint x="314.99997" y="165.00006"/>
      </bpmndi:BPMNEdge>
    </bpmndi:BPMNPlane>
  </bpmndi:BPMNDiagram>
</definitions>
